In [1]:
import pandas as pd
import hashlib
import random

In [2]:
train = pd.read_csv('train.csv')
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
print(hashlib.algorithms_available)

{'sha3_512', 'shake_256', 'MD4', 'sha', 'DSA-SHA', 'blake2b', 'sha512', 'SHA256', 'sha3_256', 'md5', 'sha3_224', 'RIPEMD160', 'SHA', 'md4', 'sha1', 'DSA', 'whirlpool', 'sha384', 'ecdsa-with-SHA1', 'SHA384', 'SHA224', 'SHA512', 'ripemd160', 'dsaEncryption', 'sha3_384', 'blake2s', 'sha224', 'shake_128', 'SHA1', 'MD5', 'sha256', 'dsaWithSHA'}

## Function for Salt with random number

In [4]:
def salt(text):
    return text+str(random.randint(1,512))

## Hashing the name with sha512 and random salt

In [5]:
temp_df = pd.DataFrame()
for index, row in train.iterrows():
    temp_df.loc[index,'hashed_name'] = hashlib.sha512(salt(row['Name']).encode('utf-8')).hexdigest()
train = pd.concat([train, temp_df], axis=1, sort=False)
train.drop('Name',axis=1,inplace=True)

## Hashing the ticket with sha3_512 and random salt

In [6]:
temp_df = pd.DataFrame()
for index, row in train.iterrows():
    temp_df.loc[index,'hashed_ticket'] = hashlib.sha3_512(salt(row['Ticket']).encode('utf-8')).hexdigest()
train = pd.concat([train, temp_df], axis=1, sort=False)
train.drop('Ticket',axis=1,inplace=True)

In [7]:
train.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked,hashed_name,hashed_ticket
0,1,0,3,male,22.0,1,0,7.2500,NaN,S,e89470dc4da01eac2b34f2f4f8dc6e67c4404c0a14e3f7...,a81b53a07b49efe3fbfdc8c0d3f5fd82ba3b966e9a99e9...
1,2,1,1,female,38.0,1,0,71.2833,C85,C,d34ed21b7aaa1045a5f780a0ef64b631f8f1b797e79ef2...,98471f025374ab1bfe33fee3d8255f8b80180a29a089e1...
2,3,1,3,female,26.0,0,0,7.9250,NaN,S,38c022e30ff169f9c48eea38e0904bff2a46599772fefc...,3915a6590b7d84e2b191abce47a5636ee11128d9fee185...
3,4,1,1,female,35.0,1,0,53.1000,C123,S,db403b1c623f841d0fe5446287660993bd4e30120ee5e0...,90c431c7a3b7b032f3b542e13fe51de44b4800d72f5803...
4,5,0,3,male,35.0,0,0,8.0500,NaN,S,5df9274269597b31a158368174ac9872ed55269fd1be81...,e5ada53f0cec3e952817c2711e32ade2a437f101e01f06...

In [8]:
train.to_csv('hashed.csv')