In [1]:
import pandas as pd
import hashlib
import random

In [2]:
train = pd.read_csv('train.csv')
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
print(hashlib.algorithms_available)

{'sha384', 'sha1', 'md5', 'MD4', 'whirlpool', 'sha224', 'DSA', 'DSA-SHA', 'sha3_256', 'sha', 'blake2s', 'sha3_384', 'sha3_512', 'sha3_224', 'RIPEMD160', 'SHA512', 'ecdsa-with-SHA1', 'SHA384', 'dsaEncryption', 'SHA256', 'ripemd160', 'shake_128', 'MD5', 'SHA1', 'SHA', 'sha256', 'dsaWithSHA', 'SHA224', 'blake2b', 'sha512', 'shake_256', 'md4'}

## Function for converting string to ascii-numbers and multiplying by a value

In [4]:
def convert_to_ascii(text,mul):
    ascii_conv = "".join(str(ord(char)*mul) for char in text)
    return ascii_conv

## Hashing the name with sha512 and multiplication with age of passenger

In [5]:
#hashing
temp_df = pd.DataFrame()
for index, row in train.iterrows():
    temp_df.loc[index,'hashed_name'] = hashlib.sha512(convert_to_ascii(row['Name'],row['Age']).encode('utf-8')).hexdigest()
train = pd.concat([train, temp_df], axis=1, sort=False)
train.drop('Name',axis=1,inplace=True)

## Hashing the ticket with sha3_512 and multiplication with age of passenger

In [6]:

#hashing
temp_df = pd.DataFrame()
for index, row in train.iterrows():
    temp_df.loc[index,'hashed_ticket'] = hashlib.sha3_512(convert_to_ascii(row['Ticket'],row['Age']).encode('utf-8')).hexdigest()
train = pd.concat([train, temp_df], axis=1, sort=False)
train.drop('Ticket',axis=1,inplace=True)

In [7]:
train.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked,hashed_name,hashed_ticket
0,1,0,3,male,22.0,1,0,7.2500,NaN,S,55dacaa7232b8a9d55e1af41f95013ded39a15ebcc513e...,4ac26f5adee63619abf67c5d2962e0404cf7b2acd4bb52...
1,2,1,1,female,38.0,1,0,71.2833,C85,C,4b5373e98e91890e55aa102cfaf2806a2c4afef94031c1...,4378115b692d5733ff9199031f8c8d2a4af9939a42e6e4...
2,3,1,3,female,26.0,0,0,7.9250,NaN,S,7dbcefc6a2fd3931f480744cf3988b110d379e7be5ecd0...,6549fafb0ffd69c62bf1d90c1547b49174dc3bc1baa599...
3,4,1,1,female,35.0,1,0,53.1000,C123,S,51245bca3472d1244ce67bba347fb0a9314a2a97cca4fb...,245a6c45b4bd8e3f1c60d5804a09f87a863c2a3cb0239f...
4,5,0,3,male,35.0,0,0,8.0500,NaN,S,fc4de0743201987c752c83ddd594373e7b65f53d79c47e...,7e517e432c3bd79fe4ce3ae80ada698c2342c585612f1c...

In [8]:
train.to_csv('hashed.csv')