In [1]:
import pandas as pd
import hashlib
import random

In [2]:
train = pd.read_csv('train.csv')
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
print(hashlib.algorithms_available)

{'dsaWithSHA', 'SHA224', 'ecdsa-with-SHA1', 'sha384', 'MD5', 'shake_256', 'sha3_384', 'RIPEMD160', 'DSA', 'SHA384', 'SHA1', 'blake2s', 'md5', 'sha512', 'dsaEncryption', 'DSA-SHA', 'MD4', 'shake_128', 'sha256', 'sha3_256', 'sha1', 'sha', 'sha3_224', 'sha224', 'sha3_512', 'SHA512', 'whirlpool', 'SHA', 'SHA256', 'md4', 'blake2b', 'ripemd160'}

## Function for Salt with random number

In [4]:
def salt(text):
    return text+str(random.randint(1,512))

## Hashing the name with sha512 and multiplication with age of passenger

In [5]:
#hashing
temp_df = pd.DataFrame()
for index, row in train.iterrows():
    temp_df.loc[index,'hashed_name'] = hashlib.sha512(salt(row['Name']).encode('utf-8')).hexdigest()
train = pd.concat([train, temp_df], axis=1, sort=False)
train.drop('Name',axis=1,inplace=True)

## Hashing the ticket with sha3_512 and multiplication with age of passenger

In [6]:
#hashing
temp_df = pd.DataFrame()
for index, row in train.iterrows():
    temp_df.loc[index,'hashed_ticket'] = hashlib.sha3_512(salt(row['Ticket']).encode('utf-8')).hexdigest()
train = pd.concat([train, temp_df], axis=1, sort=False)
train.drop('Ticket',axis=1,inplace=True)

In [7]:
train.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked,hashed_name,hashed_ticket
0,1,0,3,male,22.0,1,0,7.2500,NaN,S,1db13c7401a3ba46497cbfb5c4770ce48e489cd39597c5...,0ea4e131e861f7d5b1bc952f8a7679a0607ff53b7676a2...
1,2,1,1,female,38.0,1,0,71.2833,C85,C,28aad5ed52554fcf32ef5ba13a89021f265e4d4206c769...,9ed65f3f360e6604953f70b1610760f876ac0870719d50...
2,3,1,3,female,26.0,0,0,7.9250,NaN,S,f2b3e3d100e40667df91b89109da288a72b6010067e182...,873c8cc0ec8b4925890f4d6ca8a4c7e72a73b301552672...
3,4,1,1,female,35.0,1,0,53.1000,C123,S,3d518c1f3c935a749a56c8d0475528f54ad2a63703083f...,c9b0fc2f90aeb9898462daf29eb38d1263056b5c19c931...
4,5,0,3,male,35.0,0,0,8.0500,NaN,S,e85fdf29e04371e7d220a5067c9ae3e131e370eccb5c5a...,ac8432c4aceb493d5751c224968b207091ffb380bf2352...

In [8]:
train.to_csv('hashed.csv')